.app-wrapper {
  margin: o auto;
  padding: 20px;
  display: grid;
  width: 1200 px;

  grid-template-areas:
    "header header"
    "navbar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px
}

.app-wrapper-content {
  grid-area: content;
}